body {
    background-color: #186582;
    font-family: Arial, Helvetica, sans-serif;
}


.questionbutton {
	display:block;
  background-color: #b6d6e0;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
  margin-top: 30px;
	margin-right:50px;
	margin-left:50px;
  padding:10px;
	border: 1px dashed;
	border-radius : 10px;
	border-color : 2e3f84;
}

.questionbutton > p {
    word-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
}

table {
	margin-right:auto;
	margin-left:auto;
  margin-top:10px;
}

.answerbutton a{
display:block;
padding-left:50px;
padding-right:50px;
line-height:70px;
text-align:center;
vertical-align:middle;
background-color: #044158;
color:white;
text-decoration:none;
border-radius:10px;
}
.answerbutton a:hover {
background-color: #45839B;
}
