/* Principal */
#menu{
	
		display:block;
		padding-left:50px;
		padding-right:50px;
		margin-top:50px;
		line-height:50px;
		text-align:center;
		vertical-align:middle;
		background-color: #044158;
		color:white;
		text-decoration:none;
		border-radius:10px;


        /*width: 100%;*/
        margin: 20;
        padding: 10px 0 10px 0;
        list-style: none;
        background: #044158;
        /*-moz-border-radius: 50px;*/
        /*border-radius: 50px;*/
        /*-moz-box-shadow: 0 2px 1px #45839B;
        -webkit-box-shadow: 0 2px 1px #45839B;
        box-shadow: 0 2px 1px #45839B;*/
}

#menu li{
        float: center;
        padding: 0 0 10px 0;
        position: relative;
}

#menu a{
        float: center;
        height: 25px;
        padding: 0 25px;
		color : white;
        font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
        color: #fafafa;
}



#menu li:hover > ul{
        display: block;
}

/* Sous-menu */

#menu ul{
    list-style: none;
    margin: 0px;
    padding: 0;
    display: none;
    position: center;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #044158;
    /*background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);*/
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu h1{
	font-size:30px;
}

#menu ul a{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover{
        background: #45839B;
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Rétablissement du flottement */
#menu:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}
